parameters:
    level: max
    paths:
        - src
        - Tests
    excludePaths:
        - vendor
        - src/Protocol/ServerException.php
    phpVersion: 80400
    ignoreErrors:
        - '#Property .* is never written, only read#'
        - '#Method .* return type has no value type specified in iterable type#'
        - '#Parameter .* of method .* is not nullable, but can have null as default value#'
        - '#Property .* is uninitialized#'
        - '#Generic class ReflectionClass .* does not specify its types#'
        - '#no value type specified in iterable type#'
        - '#Unsafe usage of new static\(\)#'
        - '#should return static\(.*\) but returns#'
        - '#Parameter .* of static method .* expects string, string\|null given#'
        - '#Property .* does not accept#'
        - '#Parameter .* of method .* expects .*, .* given#'
        - '#Method .* has no return type specified#'
        - '#Instanceof between .* and .* will always evaluate to#'
        - '#Private property .* overriding .* should be protected or public#'
        - '#Property .* overriding .* should not have a native type#'
        - '#Readonly property .* overrides .*#'
        - '#Class .* constructor invoked with .* parameters, .* required#'
        - '#PHPDoc tag @param for parameter .* with type mixed is not subtype#'
        - '#Unexpected token .* offset#'
        - '#PHPDoc tag @var with type .* is not subtype of native type#'
        - '#PHPDoc tag @return with type .* is not subtype of native type#'
        - '#Strict comparison using === between null and .* will always evaluate to#'
        - '#Method .* has parameter .* with generic class .* does not specify its types#'
        - '#Using nullsafe property access on non-nullable type#'
        - '#Offset 0 might not exist on .*\|null#'
        - '#Cannot call method .* on .*\|null#'
        - '#Parameter .* of function count expects array\|Countable#'
        - '#Method .* should return .* but returns .*\|null#'
        - '#Method .* should return int but returns float#'
        - '#Parameter .* of function base_convert expects string, .* given#'
        - '#Parameter .* of function str_split expects string, .* given#'
        - '#Offset .* might not exist on#'
        - '#Access to an undefined property#'
        - '#Call to an undefined method#'
        - '#Method .* should return .* but returns .*\|#'
        - '#Binary operation .* between .* results in an error#'
        - '#Cannot access property .* on .*\|false#'
        - '#Call to function is_int\(\) with .* will always evaluate to true#'
        - '#Argument of an invalid type .* supplied for foreach#'
        - '#Cannot access property .* on .*\|null#'
        - '#Result of && is always false#'
        - '#Expression on left side of \?\? is not nullable#'
        - '#Cannot access offset .* on#'
        - '#Parameter .* of function array_key_exists expects int\|string, .* given#'
        - '#Strict comparison using !== between null and .* will always evaluate to true#'
        - '#PHPDoc tag @param for parameter .* with type .* is not subtype of native type#'
        - '#Operator -- is deprecated for non-numeric-strings#'
        - '#Method .* return type has no value type specified in iterable type array#'
        - '#Method Fhp\\Segment\\BaseDescriptor::resolveType\(\) return type with generic class ReflectionClass does not specify its types: T#'
        - '#Dead catch - ReflectionException is never thrown in the try block#'
        - '#Method Fhp\\PaginateableAction::getNextRequest\(\) should return list<.*> but returns array#'
        - '#Parameter .* of static method Fhp\\Syntax\\Parser::parseAnonymousSegment\(\) expects string, mixed given#'
        - '#Method Fhp\\Segment\\AnonymousSegment::serialize\(\) should return string but returns mixed#'
        - '#Call to protected method endDialog\(\) of class Fhp\\Tests\\FinTsPeer#'
        - '#Parameter .* of function mb_convert_encoding expects array\|string, mixed given#'
        - '#Parameter .* of function intval expects .*, mixed given#'
        - '#Parameter .* of function preg_match expects string, mixed given#'
        - '#Parameter .* of function strlen expects string, mixed given#'
        - '#Parameter .* of function str_pad expects string, int<36, max>, mixed given#'
        - '#Parameter .* of function str_replace expects array<string>\|string, mixed given#'
        - '#Parameter .* of function implode expects array<string>, array<mixed> given#'
        - '#Parameter .* of static method Fhp\\Model\\StatementOfAccount\\StatementOfAccount::parseDate\(\) expects string, mixed given#'
        - '#Parameter .* of function sprintf expects bool\|float\|int\|string\|null, mixed given#'
        - '#Cannot cast mixed to string#'
        - '#Cannot cast mixed to float#'
        - '#Parameter .* of static method Fhp\\Model\\FlickerTan\\DataElement::parseNextBlock\(\) expects string, mixed given#'
        - '#Strict comparison using === between .* and .* will always evaluate to true#'
        - '#Cannot use -- on string#'
        - '#Parameter .* of class Fhp\\Model\\FlickerTan\\StartCode constructor expects array, mixed given#'
        - '#Parameter .* of function implode expects array, mixed given#'
        - '#Parameter .* of class Fhp\\Protocol\\UnexpectedResponseException constructor expects string, mixed given#'
        - '#Parameter .* of static method Fhp\\Segment\\VPP\\VopHelper::createHKVPPForPollingRequest\(\) expects Fhp\\Protocol\\BPD, Fhp\\Protocol\\BPD\|null given#'
        - '#Parameter .* of class InvalidArgumentException constructor expects string, mixed given#'
        - '#Parameter .* of function array_map expects array, array<string>\|null given#'
        - '#Parameter .* of function str_starts_with expects string, mixed given#'
        - '#Parameter .* of class Fhp\\Syntax\\Bin constructor expects string, string\|null given#'
        - '#Cannot access property .* on mixed#'
        - '#Possibly invalid array key type mixed#'
        - '#Cannot access an offset on mixed#'
        - '#Parameter .* of function array_merge expects array, mixed given#'
        - '#Parameter .* of static method Fhp\\Segment\\Common\\Kti::fromAccount\(\) expects Fhp\\Model\\SEPAAccount, Fhp\\Model\\SEPAAccount\|null given#'
        - '#Parameter .* of static method Fhp\\Segment\\CAZ\\HKCAZv1::create\(\) expects bool, bool\|null given#'
        - '#Parameter .* of static method Fhp\\Segment\\Common\\Btg::create\(\) expects float, float\|null given#'
        - '#Parameter .* of static method Fhp\\Segment\\BaseSegment::parse\(\) expects string, mixed given#'
        - '#Parameter .* of static method Fhp\\Segment\\BaseSegment::parse\(\) expects string, array\|string given#'
        - '#Call to method PHPUnit\\Framework\\Assert::assertTrue\(\) with true will always evaluate to true#'
        - '#Cannot call method format\(\) on DateTime\|false#'
        - '#Parameter .* of static method Fhp\\Segment\\Common\\Sdo::create\(\) expects DateTime, DateTime\|false given#'
        - '#Parameter .* of static method Fhp\\Action\\SendSEPADirectDebit::create\(\) expects string, string\|false given#'
        - '#Parameter .* of static method Fhp\\Protocol\\Message::parse\(\) expects string, mixed given#'
        - '#Parameter .* of static method Fhp\\Syntax\\Parser::detectAndParseSegment\(\) expects string, mixed given#'
        - '#Call to method PHPUnit\\Framework\\Assert::assertIsFloat\(\) with float will always evaluate to true#'
        - '#Call to method PHPUnit\\Framework\\Assert::assertIsString\(\) with string will always evaluate to true#'
        - '#Result of method .*addHolding\(\) \(void\) is used#'
        - '#Call to method PHPUnit\\Framework\\Assert::assertNull\(\) with null will always evaluate to true#'
        - '#Call to static method PHPUnit\\Framework\\Assert::assertIsObject\(\) with .* will always evaluate to true#'
        - '#Call to protected method extractStructuredDataFromRemittanceLines\(\) of class Fhp\\MT940\\Dialect\\SpardaMT940#'
        - '#Call to method PHPUnit\\Framework\\Assert::assertIsArray\(\) with array<.*> will always evaluate to true#'
        - '#Cannot call method toHex\(\) on mixed#'
        - '#Result of method .*addHolding\(\) \(void\) is used#'
        - '#Call to protected method extractStructuredDataFromRemittanceLines\(\) of class Fhp\\MT940\\Dialect\\PostbankMT940#'
        - '#Call to method PHPUnit\\Framework\\Assert::assertIsArray\(\) with array will always evaluate to true#'
        - '#Cannot instantiate class Fhp\\Tests\\FinTsPeer via protected constructor Fhp\\FinTs::__construct#'
        - '#Parameter .* of static method Fhp\\Action\\SendSEPATransfer::create\(\) expects string, mixed given#'
        - '#Result of method .* StatementOfHoldings::addHolding\(\) \(void\) is used#'
        - '#Parameter .* of static method Fhp\\Tests\\Unit\\Integration\\Atruvia\\SendTransferVoPTest::buildVopReportResponse\(\) expects string, mixed given#'
        - '#Parameter .* of static method Fhp\\Options\\Credentials::create\(\) expects string, mixed given#'
        - '#Static property Fhp\\Tests\\FinTsPeer::\$mockConnection .* does not accept mixed#'
        - '#Cannot call method getPollingInfo\(\) on mixed#'
        - '#Cannot call method getVopConfirmationRequest\(\) on mixed#'
        - '#Parameter .* of function str_pad expects string, int<36, max> given#'
        - '#Cannot call method getNextRequest\(\) on mixed#'
        - '#Parameter .* of static method Fhp\\Protocol\\Message::setSegmentNumbers\(\) expects array<Fhp\\Segment\\BaseSegment>, array given#'
        - '#Cannot call method getTanRequest\(\) on mixed#'
        - '#Cannot call method getNeedTanForSegment\(\) on mixed#'
        - '#Method .* has parameter .* with no type specified#'
        - '#Result of method .*addHolding\(\) \(void\) is used#'
    reportUnmatchedIgnoredErrors: false